/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";

/* noto-naskh-arabic-regular - arabic */
@font-face {
    font-family: 'Noto Naskh Arabic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('fonts/noto-naskh-arabic-v18-arabic-regular.woff2') format('woff2'),
        /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('fonts/noto-naskh-arabic-v18-arabic-regular.woff') format('woff');
}

/* lexend-regular - latin */
@font-face {
    font-family: 'Lexend';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local(''),
        /* Chrome 36+, Opera 23+, Firefox 39+ */
        url('fonts/lexend-v17-latin_latin-ext-regular.woff2') format('woff2'),
        /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
        url('fonts/lexend-v17-latin_latin-ext-regular.woff') format('woff');
}


:root {
    --arabic-font-perc: 200%;

    --translation-font-perc: 85%;

    --transliteration-font-perc: 80%;
}

body {
    font-family: 'Lexend', 'Noto Naskh Arabic', 'Roboto', 'Open Sans', sans-serif;
}

.arabic {
    font-family: 'Noto Naskh Arabic', sans-serif;
    font-size: var(--arabic-font-perc);
}

.verse {
    text-align: center;
}

.verse-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    direction: rtl;
}

.transliteration,
.transliteration-phrase-by-phrase {
    direction: ltr;
    font-size: var(--transliteration-font-perc);

}

.translation,
.translation-phrase-by-phrase {
    direction: ltr;
    font-size: var(--translation-font-perc);
}


.settings-box>fieldset {
    border: 0.1;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    flex-direction: column;
    // gap: 2rem;
    width: fit-content;
    background: #fff;
    // padding: 1rem 3rem;
    margin-inline: auto;
    border-radius: 0 0 1rem 1rem;
}

.settings-box input[type=radio] {
    // appearance: none;
    // width: 1.5rem;
    // height: 1.5rem;
    // outline: 3px solid var(--radio-color, currentColor);
    // outline-offset: 3px;
    // border-radius: 50%;
}

.toggle {
    cursor: pointer;
    display: inline-block;

    &:hover {
        .toggle-switch {
            &:before {
                background: linear-gradient(to bottom, #fff 0%, #fff 100%);
                box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
            }
        }
    }
}

.toggle-switch {
    display: inline-block;
    background: #ccc;
    border-radius: 1em;
    width: 2em;
    height: 1em;
    position: relative;
    vertical-align: middle;
    transition: background 0.25s;

    &:before {
        content: "";
        display: block;
        background: linear-gradient(to bottom, #fff 0%, #eee 100%);
        border-radius: 50%;
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
        width: 0.5em;
        height: 0.5em;
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        transition: left 0.25s;
    }

    &:after {
        content: "";
    }
}

.toggle-checkbox {
    &:checked+.toggle-switch {
        background: #56c080;

        &:before {
            left: 1.25em;
        }
    }

    position: absolute;
    visibility: hidden;
}

.toggle-label {
    margin-left: 0.5em;
    position: relative;
    top: 0.15em;
}

.book-header {
    position: sticky;
    top: 0;
    z-index: 100;

    backdrop-filter: blur(2px);
    background-color: rgba(255, 255, 255, 0.8);
}
