---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-yaml
        files: .*\.(yaml|yml)$
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        name: codespell
        description: Checks for common misspellings in text files.
        entry: codespell
        language: python
        types_or: [text, json, markdown]
        args: ["-L", "murr"]
        require_serial: false
  - repo: https://github.com/adehad/pre-commit-hooks
    rev: b581e6c14a9fbd9c6d37452761b525be6737b97b
    hooks:
      - id: arabic-presentation-form
        entry: arabic-presentation-form
        language: python
        types_or: [text, json, markdown]
        args: [--excluded-chars, (ï·º)]
        files: ^site/data/
