{{/*
USAGE:
verse FILE LANG
FILE = filepath relative to data/salawaat
LANG = language

e.g. verse thalama en

*/}}


{{ $verse_file_name := .Get "file" }}
{{ $verse_lang := .Get "lang" }}

{{/* Load up the JSON from the Site Data */}}
{{- $verse_filepath_parts := split $verse_file_name "/" -}}
{{- $verses_json := .Site.Data -}}
{{- range $index, $part := $verse_filepath_parts -}}
{{- $verses_json = index $verses_json $part -}}
{{- end -}}

{{/* Access the verses for the language provided */}}
{{ $verses_in_lang := (index (index $verses_json "verses") $verse_lang) }}
{{ $verses_in_lang_translated := (index (index $verses_json "translation") $verse_lang) }}

{{ $verse_num := "??" }}

{{ if (gt (len $verses_json.order.chorus) 0) }}
<input type="checkbox" id="chorus-toggle">
<label for="chorus-toggle">Chorus</label>

<div class="sticky-chorus">
    {{ range $v_config_idx, $v_config := $verses_json.order.chorus }}
    <div class="verse-container">

        {{ $verse_num = (delimit (slice "## Chorus " (add $v_config_idx 1)) "") }}

        {{ $json_string := jsonify (dict
        "verse_num" $verse_num
        "v_config" $v_config
        "verses_json" $verses_json
        "verses_in_lang" $verses_in_lang
        "verses_in_lang_translated" $verses_in_lang_translated)
        }}

        {{ template "inline/partials/verse_renderer" (dict "params_json" $json_string) }}
    </div>
    {{ end }}
</div>
{{ end }}

{{ range $v_config_idx, $v_config := $verses_json.order.verses }}
{{ $verse_num = (delimit (slice "## " (add $v_config_idx 1)) "") }}
<div class="verse-container">
    {{ $json_string := jsonify (dict
    "verse_num" $verse_num
    "v_config" $v_config
    "verses_json" $verses_json
    "verses_in_lang" $verses_in_lang
    "verses_in_lang_translated" $verses_in_lang_translated)
    }}

    {{ template "inline/partials/verse_renderer" (dict "params_json" $json_string) }}
</div>
{{ end }}


{{ define "inline/partials/verse_renderer" }}
{{ $params_obj := unmarshal .params_json }}
{{ $verse_num := index $params_obj "verse_num" }}
{{ $v_config := index $params_obj "v_config" }}
{{ $verses_json := index $params_obj "verses_json" }}
{{ $verses_in_lang := index $params_obj "verses_in_lang" }}
{{ $verses_in_lang_translated := index $params_obj "verses_in_lang_translated" }}

{{ $verse_num | markdownify }}
<p style="flex-basis: 100%; margin: 0;"></p>

{{ range $new_verse := $v_config }}
{{ $v_idx := int (index $new_verse "index") }}
{{ $v_ara := index $verses_json.verses.ara $v_idx }}

{{ $v_in_lang := index $verses_in_lang $v_idx }}
{{ $v_in_lang_translated := index $verses_in_lang_translated $v_idx }}
{{ range $w_idx, $word_ara := $v_ara }}
<table class="verse">
    <tbody>
        <tr class="arabic">
            <td>{{ $word_ara }}</td>
        </tr>
        <tr class="transliteration-phrase-by-phrase">
            <td>{{index $v_in_lang $w_idx }}</td>
        </tr>
        <tr class="translation-phrase-by-phrase">
            <td>{{index $v_in_lang_translated $w_idx | markdownify }}</td>
        </tr>
    </tbody>
</table>
{{ end }}
<div class="transliteration" style="flex-basis: 100%; text-align: right;">
    {{ with $v_in_lang }}
    {{ delimit $v_in_lang " " }}
    {{ end }}
</div>
<div class="translation" style="flex-basis: 100%; text-align: right;">
    {{ with $v_in_lang }}
    {{ (delimit $v_in_lang_translated " ") | markdownify }}
    {{ end }}
</div>
{{ end }}
<div style="flex-basis: 100%;">
    {{ "------" | markdownify }}
</div>
{{ end }}
