{{/*
USAGE:
verse FILE LANG
FILE = filepath relative to data/ (e.g. "qasida/thalama")
       OR omit to use json_file from page front matter
LANG = language

e.g. {{< verse file="qasida/thalama" lang="en" >}}
     {{< verse lang="en" >}}  (uses json_file from front matter)

*/}}


{{ $verse_file_name := .Get "file" }}
{{/* Fall back to page front matter json_file if file not provided */}}
{{ if not $verse_file_name }}
    {{ $verse_file_name = printf "qasida/%s" .Page.Params.json_file }}
{{ end }}
{{ $verse_lang := .Get "lang" }}

{{/* Load up the JSON from the Site Data */}}
{{- $verse_filepath_parts := split $verse_file_name "/" -}}
{{- $verses_json := .Site.Data -}}
{{- range $index, $part := $verse_filepath_parts -}}
{{- $verses_json = index $verses_json $part -}}
{{- end -}}

{{/* Validate qasida data - fails build if invalid */}}
{{ template "inline/partials/validate_qasida" (dict "file_name" $verse_file_name "data" $verses_json) }}

{{/* Access the verses for the language provided */}}
{{ $verses_in_lang := (index (index $verses_json "verses") $verse_lang) }}
{{ $verses_in_lang_translated := (index (index $verses_json "translation") $verse_lang) }}

{{ $verse_num := "??" }}

{{ if (gt (len $verses_json.order.chorus) 0) }}
<input type="checkbox" id="chorus-toggle">
<label for="chorus-toggle">Chorus</label>

<div class="sticky-chorus">
    {{ range $v_config_idx, $v_config := $verses_json.order.chorus }}
    <div class="verse-container">

        {{ $verse_num = (delimit (slice "## Chorus " (add $v_config_idx 1)) "") }}

        {{ $json_string := jsonify (dict
        "verse_num" $verse_num
        "v_config" $v_config
        "verses_json" $verses_json
        "verses_in_lang" $verses_in_lang
        "verses_in_lang_translated" $verses_in_lang_translated)
        }}

        {{ template "inline/partials/verse_renderer" (dict "params_json" $json_string) }}
    </div>
    {{ end }}
</div>
{{ end }}

{{ range $v_config_idx, $v_config := $verses_json.order.verses }}
{{ $verse_num = (delimit (slice "## " (add $v_config_idx 1)) "") }}
<div class="verse-container">
    {{ $json_string := jsonify (dict
    "verse_num" $verse_num
    "v_config" $v_config
    "verses_json" $verses_json
    "verses_in_lang" $verses_in_lang
    "verses_in_lang_translated" $verses_in_lang_translated)
    }}

    {{ template "inline/partials/verse_renderer" (dict "params_json" $json_string) }}
</div>
{{ end }}


{{ define "inline/partials/validate_qasida" }}
{{/*
  Validates qasida data structure and fails build if invalid.
  Checks: array lengths match, order indices within bounds.
*/}}
{{ $file_name := .file_name }}
{{ $data := .data }}
{{ $ara_len := len $data.verses.ara }}
{{ $en_len := len $data.verses.en }}
{{ $trans_len := len $data.translation.en }}

{{ if ne $ara_len $en_len }}
    {{ errorf "[%s] Array length mismatch: verses.ara (%d) != verses.en (%d)" $file_name $ara_len $en_len }}
{{ end }}
{{ if ne $ara_len $trans_len }}
    {{ errorf "[%s] Array length mismatch: verses.ara (%d) != translation.en (%d)" $file_name $ara_len $trans_len }}
{{ end }}

{{ range $chorus_idx, $chorus_group := $data.order.chorus }}
    {{ range $entry_idx, $entry := $chorus_group }}
        {{ $idx := int $entry.index }}
        {{ if or (lt $idx 0) (ge $idx $ara_len) }}
            {{ errorf "[%s] Invalid index: order.chorus[%d][%d].index = %d (valid: 0-%d)" $file_name $chorus_idx $entry_idx $idx (sub $ara_len 1) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ range $verse_idx, $verse_group := $data.order.verses }}
    {{ range $entry_idx, $entry := $verse_group }}
        {{ $idx := int $entry.index }}
        {{ if or (lt $idx 0) (ge $idx $ara_len) }}
            {{ errorf "[%s] Invalid index: order.verses[%d][%d].index = %d (valid: 0-%d)" $file_name $verse_idx $entry_idx $idx (sub $ara_len 1) }}
        {{ end }}
    {{ end }}
{{ end }}
{{ end }}

{{ define "inline/partials/verse_renderer" }}
{{ $params_obj := unmarshal .params_json }}
{{ $verse_num := index $params_obj "verse_num" }}
{{ $v_config := index $params_obj "v_config" }}
{{ $verses_json := index $params_obj "verses_json" }}
{{ $verses_in_lang := index $params_obj "verses_in_lang" }}
{{ $verses_in_lang_translated := index $params_obj "verses_in_lang_translated" }}

{{ $verse_num | markdownify }}
<p style="flex-basis: 100%; margin: 0;"></p>

{{ range $new_verse := $v_config }}
{{ $v_idx := int (index $new_verse "index") }}
{{ $v_ara := index $verses_json.verses.ara $v_idx }}

{{ $v_in_lang := index $verses_in_lang $v_idx }}
{{ $v_in_lang_translated := index $verses_in_lang_translated $v_idx }}

<div class="verse">
    <div class="arabic">
        {{ $v_ara }}
    </div>
    <div class="transliteration">
        {{ $v_in_lang }}
    </div>
    <div class="translation">
        {{ $v_in_lang_translated | markdownify }}
    </div>
</div>
{{ end }}
<div style="flex-basis: 100%;">
    {{ "------" | markdownify }}
</div>
{{ end }}
