{{/*
USAGE:
verse FILE LANG
FILE = filepath relative to data/salawaat
LANG = language

e.g. verse thalama en

*/}}

{{ $verse_file_name := .Get "file" }}
{{ $verse_lang := .Get "lang" }}

{{/* Load up the JSON from the Site Data */}}
{{- $verse_filepath_parts := split $verse_file_name "/" -}}
{{- $verses_json := .Site.Data -}}
{{- range $index, $part := $verse_filepath_parts -}}
    {{- $verses_json = index $verses_json $part -}}
{{- end -}}

{{/* Access the verses for the language provided */}}
{{ $verses_in_lang := (index (index $verses_json "verses") $verse_lang) }}
{{ $verses_in_lang_translated := (index (index $verses_json "translation") $verse_lang) }}

{{ $how_many_chorus := (len $verses_json.order.chorus) }}

{{ $verses_to_display := $verses_json.order.chorus | append $verses_json.order.verses}}
{{ $total_verses := (len $verses_to_display) }}

{{ $verse_num := "??" }}

{{/* {{ range $v_idx, $v_ara := $verses_json.verses.ara }} */}}
{{ range $v_config_idx, $v_config := $verses_to_display }}
<div class="verse-container">

    {{ if (gt $how_many_chorus 0) }}
    {{ $verse_num = (delimit (slice "## Chorus " $v_config_idx) "") }}
    {{ $total_verses = sub $total_verses 1 }}
    {{ $how_many_chorus = sub $how_many_chorus 1 }}
    {{ else }}
    {{ $verse_num = (delimit (slice "## " $v_config_idx) "") }}
    {{ end }}

    {{ $verse_num | markdownify }}
    <p style="flex-basis: 100%; margin: 0;"></p>
    {{/* {{ $verse_num.RenderString }} */}}

    {{ range $new_verse := $v_config }}
    {{ $v_idx := int (index $new_verse "index") }}
    {{ $v_ara := index $verses_json.verses.ara $v_idx }}

    {{ $v_in_lang := index $verses_in_lang $v_idx }}
    {{ $v_in_lang_translated := index $verses_in_lang_translated $v_idx }}
    {{ range $w_idx, $word_ara := $v_ara }}
    <table class="verse">
        <tbody>
            <tr class="arabic">
                <td>{{ $word_ara }}</td>
            </tr>
            <tr class="transliteration-phrase-by-phrase">
                <td>{{index $v_in_lang $w_idx }}</td>
            </tr>
            <tr class="translation-phrase-by-phrase">
                <td>{{index $v_in_lang_translated $w_idx | markdownify }}</td>
            </tr>
        </tbody>
    </table>
    {{ end }}
    <div class="transliteration" style="flex-basis: 100%; text-align: right;">
        {{ (index $v_in_lang 0) }}
    </div>
    <div class="translation" style="flex-basis: 100%; text-align: right;">
        {{ (index $v_in_lang_translated 0) | markdownify }}
    </div>
    {{ end }}
    <div style="flex-basis: 100%;">
        {{ "------" | markdownify }}
    </div>
</div>
{{ end }}
